//颜色
.bg-color-mask {
	background-color: $uni-bg-color-mask;
}

.text-color-white {
	color: $uni-color-white;
}
.bg-color-white {
	background-color: $uni-color-white;
}
.border-color-white {
	border-color: $uni-color-white;
}


.text-color-red {
	color: $uni-color-red;
}
.bg-color-red {
	background-color: $uni-color-red;
}
.border-color-red {
	border-color: $uni-color-red;
}


.text-color-pink {
	color: $uni-color-pink;
}
.bg-color-pink {
	background-color: $uni-color-pink;
}
.border-color-pink {
	border-color: $uni-color-pink;
}


.text-color-green {
	color: $uni-color-green;
}
.bg-color-green {
	background-color: $uni-color-green;
}
.border-color-green {
	border-color: $uni-color-green;
}


.text-color-blue {
	color: $uni-color-blue;
}
.bg-color-blue {
	background-color: $uni-color-blue;
}
.border-color-blue {
	border-color: $uni-color-blue;
}


.text-color-orange {
	color: $uni-color-orange;
}
.bg-color-orange {
	background-color: $uni-color-orange;
}
.border-color-orange {
	border-color: $uni-color-orange;
}


.text-color-grey {
	color: $uni-color-grey;
}
.bg-color-grey {
	background-color: $uni-color-grey;
}
.border-color-grey {
	border-color: $uni-color-grey;
}


.text-color-greyblack {
	color: $uni-color-greyblack;
}
.bg-color-greyblack {
	background-color: $uni-color-greyblack;
}
.border-color-greyblack {
	border-color: $uni-color-greyblack;
}

.text-color-black {
	color: $uni-color-black;
}
.bg-color-black {
	background-color: $uni-color-black;
}
.border-color-black {
	border-color: $uni-color-black;
}