/* 文字尺寸 */
$uni-font-size-mi: 10px;
$uni-font-size-hg: 18px;
$uni-font-size-mx: 20px;

/* 文字颜色 */
$uni-text-color-red: #ed1c24;

/* 图标尺寸 */
$uni-icon-size-mi: 40rpx;
$uni-icon-size-sm: 60rpx;
$uni-icon-size-base: 80rpx;
$uni-icon-size-lg: 100rpx;
$uni-icon-size-hg: 120rpx;
$uni-icon-size-mx: 140rpx;

/* 水平间距 */
$uni-spacing-row-mi: 8rpx;
$uni-spacing-row-hg: 48rpx;

/* 垂直间距 */
$uni-spacing-col-mi: 6rpx;
$uni-spacing-col-hg: 40rpx;