/* 文字尺寸 */
$uni-font-size-mi: 8px;
$uni-font-size-hg: 18px;
$uni-font-size-mx: 22px;

/* 图标尺寸 */
$uni-icon-size-mi: 20px;
$uni-icon-size-sm: 30px;
$uni-icon-size-base: 40px;
$uni-icon-size-lg: 50px;
$uni-icon-size-hg: 60px;
$uni-icon-size-mx: 70px;

/* 图标颜色 */
$uni-icon-color-base: #333;
$uni-icon-color-white: #FFF;
$uni-icon-color-title: #333;
$uni-icon-color-subtitle: #999;